body {
  font-family: sans-serif;
  background-color: #efefef;
}

#number {
  position: fixed;
  z-index: -1;
  font-size: 8em;
  font-weight: bold;
  color: #aaa;
  right: 0.05em;
  top: -0.2em;
}

.clickable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

.play-container {
  display: block;
}

.play {
  display: inline-block;
  width: 200px;
  height: 200px;
  cursor: pointer;

  margin: 14px;
  padding: 14px;

  text-align: center;

  color: #000;

  font-weight: bold;
  font-size: 20px;

  border: 2px solid #555;
  border-radius: 10px;
  background-color: #ccc;

  transition: transform .1s ease 0s, color .1s ease 0s, background .1s ease 0s, border .1s ease 0s, box-shadow .1s ease 0s;
}

.play:hover {
  border: 2px solid #333;
  background-color: #999;
}

.play:active {
  color: #fff;
  border: 2px solid #111;
  background-color: #777;
  transform: scale(0.95, 0.95);
}

.play audio {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

#msgs {
  display: block;
  border: 1px solid #777;
  padding: .3em;
  margin-top: 5em;
  font-family: monospace;
  font-size: 10px;
  max-height: 10em;
  overflow: scroll;
}

@media only screen and (max-device-width: 736px) {
  .play {
    width: 90%;
    margin: 14px auto;
  }
}

footer p {
  font-size: .8em;
}