body {
  font-family: sans-serif;
  background-color: #D9D8D5;
  margin: 0 1.5em;
}

h1 {
  font-weight: 700;
}

#number {
  position: fixed;
  z-index: -1;
  font-size: 8em;
  font-weight: bold;
  color: #aaa;
  right: 0.05em;
  top: -0.2em;
}

.clickable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

.play-container {
  display: block;
}

.play {
  display: inline-block;
  width: 200px;
  height: 200px;
  cursor: pointer;
  vertical-align: top;

  margin-right: 14px;
  margin-bottom: 14px;
  padding: 14px;

  text-align: center;

  color: #000;

  font-weight: bold;
  font-size: 20px;

  border-radius: 4px;
  background-color: #8A8B91;

  box-shadow: 0 0 9px #777;

  transition: all .1s ease 0s;
}

.play:hover {
  background-color: #999;
}

.play:active {
  color: #fff;
  background-color: #777;
  box-shadow: 0 0 7px #C63851, 0 0 3px #333 inset;
}

.play audio {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

.play .count {
  font-size: 3em;
}

.checkbox-wrapper {
  margin-top: 3.5em;
}

.checkbox {
  display: inline-block;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  display: inline-block;

  cursor: pointer;
  font-size: .8em;

  padding: .3em .7em;
  border: 1px solid #888;
  border-radius: 3px;
  transition: all .1s ease 0s;
}

.checkbox label:hover {
  opacity: .8;
}

.checkbox input[type="checkbox"]:checked ~ label {
  background: #E1A6A2;
  box-shadow: 0 0 2px 1px #EF5F55 inset;
  border-color: #A5554F;
}

.checkbox + .checkbox {
  margin-left: .5em;
}

#msgs {
  display: block;
  border: 1px solid #777;
  margin-top: 1em;
  padding: .3em;
  font-family: monospace;
  font-size: 10px;
  max-height: 10em;
  overflow: scroll;
}

@media only screen and (max-width: 550px) {
  .play {
    width: 90%;
    height: 140px;
    margin: 14px auto;
  }

  .checkbox {
    display: block;
  }
  .checkbox + .checkbox {
    margin-top: .3em;
    margin-left: 0;
  }
}

.widgets .widget {
  display: inline;
  margin-right: .6em;
}

footer p {
  font-size: .8em;
}
